:root {
    --color-1: #ff0000;
    --color-2: #ff6600;
    --color-3: #eec900;
    --color-4: #00ff00;
    --color-5: #66ccff;
    --color-6: #0000ff;
    --color-7: #cc00ff;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

main {
    margin: 100px 0;
    border: 3px solid black;
    height: 75vh;
    width: 50vw;
    width: 600px;
    height: 1080px;
}

section {
    display: flex;
    flex-direction: row;
}

div {
    height: 58px;
    width: 58px;
    border: 1px solid grey;
}

.red {
    background-color: var(--color-1);
}

.orange {
    background-color: var(--color-2);
}

.yellow {
    background-color: var(--color-3);
}

.green {
    background-color: var(--color-4);
}

.light-blue {
    background-color: var(--color-5);
}

.blue {
    background-color: var(--color-6);
}

.magenta {
    background-color: var(--color-7);
}